@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

/*
 @font-face
 How to add custom fonts to any website credit: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
 Dekar Regular font
*/
@font-face {
  font-family: 'Dekar Regular';
  /* For Internet Explorer */
  src: url('https://sctlcd.github.io/the-vintage-caravan/app/assets/fonts/Dekar-Regular.eot');
  /* For Chrome, Firefox, Safari, Opera */
  src: local('Dekar Regular'),
    local('Dekar-Regular'),
    url('https://sctlcd.github.io/the-vintage-caravan/app/assets/fonts/dekar-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  min-height: 100%
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Dekar Regular', sans-serif;
  letter-spacing: 2px;
}

/* --------------------------------------------- Special padding/margins/text/block-divider/color ---------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.block-divider {
  width: 250px;
  height: 4px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.65);
}

.btn-dark {
  background-color: #14171b;
  border-color: #14171b;
  color: #fafafa;
}

.btn-dark:hover {
  background-color: #495057;
  border-color: #495057;
}

/*---------------------------------------------- Header - Navbar ----------------*/
.video-container {
  padding-left: 0;
  padding-right: 0;
}

/* Navbar */
.nav-item {
  font-family: "Dekar Regular", sans-serif;
  font-size: 18px;
  padding-right: 20px;
}

.brand-logo {
  height: 60px;
  width: 100px;
}

.navbar-dark {
  background-color: #000000 !important;
}

.navbar-dark .navbar-toggler {
  color: #495057;
  border-color: #495057;
}

.navbar-dark .navbar-nav .nav-link {
  color: #495057;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.65);
  font-weight: bold;
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: #fafafa;
  font-weight: bold;
}

/*---------------------------------------------- Full page content background  ----------------*/
.container-wrapper {
  min-height: 100vh;
  color: #fafafa;
}

/* Responsive background image credit: https://www.webfx.com/blog/web-design/responsive-background-image/ */
.bg-cover {
  /* Location of the image */
  background-image: url(../images/galaxy-background.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: bottom right;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #171726;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------- Footer ----------------*/
.footer {
  max-height: 100px;
  background: #000000;
  color: #fafafa;
  margin-top: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 5px;
}

.social-links ul {
  margin-bottom: 0.5rem;
}

.social-links li a i {
  padding-right: 8px;
  color: #fafafa;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #398339;
}

.footer-details {
  font-size: 11px;
  font-weight: 300;
}

.footer-details p {
  margin: 0 auto;
}

/*---------------------------------------------- Home page ----------------*/
.header-container .page-title {
  margin-bottom: 10px;
}

.header-container .page-sub-title {
  margin-bottom: 120px;
}

.header-container {
  /* margin: 120px 0 0 0;  */
  margin: 120px auto 0 auto;
}

/* About */
.about-container {
  margin: 0px 0px 180px 0px;
}

.about-title {
  margin-bottom: 50px;
  margin-top: 110px;
}

.about-text {
  font-size: 18px;
}

.about-container p a {
  color: rgba(180, 180, 180, 0.9);
  text-decoration: none;
}

.about-container p a:hover {
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px rgba(180, 180, 180, 0.9);
}

/*---------------------------------------------- Discography page ----------------*/
.discography-details-container {
  margin: 0px 0px 180px 0px;
}

.discography-title {
  margin-bottom: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #767676;
}

#carouselDiscography {
  max-width: 50%;
  /* center the carousel */
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
  color: #fafafa;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-inner .carousel-control-next .carousel-control-next-icon {
  color: #000000;
}

/*---------------------------------------------- Music page ----------------*/
.header-container .page-sub-title {
  font-size: 30px;
}

.music-container {
  margin: 0;
}

.buy-album-img {
  height: 60px;
  width: 180px;
}

.buy-album-img-amazonmp3 {
  height: 62px;
  width: 173px;
}

.listen-album-img-spotify {
  height: 65px;
  width: 176px;
}

.listen-album-img-deezer {
  height: 50px;
  width: 157px;
}

.listen-album-img-applemusic {
  height: 54px;
  width: 162px;
}

.support-container {
  align-self: center;
  padding-left: 80px;
  padding-right: 80px;
}

.buy-container .buy-card, .listen-container .listen-card {
  background-color: rgba(255, 255, 255, 0.65);
  color: #495057;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.buy-container .buy-title, .listen-container .listen-title {
  font-weight: bold;
}

.buy-container .buy-text, .listen-container .listen-text {
  font-family: 'Space+Mono', sans-serif;
  font-weight: 400;
}

.album-container .album-card {
  align-self: center;
  border: 1px solid transparent;
  background-color: transparent;
  color: #fafafa;
  text-align: center;
  width: 24rem;
}

.album-title {
  font-weight: bold;
}

.album-container img {
  border-radius: .25rem;
}

.divider-container {
  margin: 120px 0 120px 0;
}

.extra-margin {
  margin-bottom: 180px;
}

.buy-container {
  margin-bottom: 80px;
}

/*---------------------------------------------- Shows page ----------------*/
.item-show-grey {
  font-family: 'Dekar Regular', sans-serif;
  color: #495057;
  font-size: 28px;
  font-weight: bold;
}

.item-show-white {
  font-family: 'Space+Mono', sans-serif;
  color: #fafafa;
  font-size: 14px;
}

.item-show td h3 a:hover {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.table {
  margin-bottom: 0;
}

.table-dark {
  border-color: #000000;
  background-color: #000000;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #000000;
}

.item-show {
  border: 1px solid #495057;
  background: #000000;
  margin-bottom: 30px;
  padding: 10px;
}

.item-show-table tr {
  margin: 10px 0 10px 0;
}

.show-filters {
  font-weight: bold;
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: 'Space+Mono', sans-serif;
}

.show-filters .upcoming-link {
  color: #fafafa;
  text-decoration: underline;
}

.show-filters .archive-link {
  color: #495057;
}

.show-filters .upcoming-link:hover {
  color: #398339;
}

.show-filters .archive-link:hover {
  color: #495057;
}

.shows-container {
  margin: 0 auto;
}

.item-show td {
  width: 50%;
}

.item-show td h3 {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-show td h4 {
  margin: 0 10px 10px 10px;
}

.concert-request-button .btn-dark {
  display: block;
  width: 100%;
  margin-bottom: 170px;
}

.shows-request-container {
  margin-bottom: 70px;
  width: 100%;
  margin: 0 auto;
}

.shows-page-container {
  max-width: 60%;
}

/*---------------------------------------------- Photos page ----------------*/
.img-thumbnail {
  border: 1px solid #000000;
  background-color: #000000;
  width: 100%;
}

.photo-gallery-row {
  margin: 30px 0px 30px 0px;
}

.photos-container {
  margin: 60px 10px 140px 10px;
}

.figure-caption {
  letter-spacing: 0px;
  font-family: 'Space+Mono', sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.65);
  padding-left: 5px;
}

.figure {
  margin: 30px 0px 30px 0px;
  text-align: right;
  font-weight: bold;
}

/*---------------------------------------------- Contact page ----------------*/
.contact-page-container .col-12 {
  flex: 0 0 100%;
  max-width: 60%;
}

.contact-form-container {
  margin-top: 120px;
  margin-bottom: 150px;
}

.contact-form-header {
  margin-bottom: 60px;
  font-size: 20px;
}

.contact-form-body {
  letter-spacing: 2px;
  font-family: 'Space+Mono', sans-serif;
  font-size: 14px;
}

.custom-file {
  margin-bottom: 1rem;
}

.form-group p {
  margin-bottom: 8px;
}

.form-group .btn-dark {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 24px;
}

.form-control, .custom-file-input, .custom-file-label {
  background-color: rgba(255, 255, 255, 0.65);
  letter-spacing: 2px;
  font-family: 'Space+Mono', sans-serif;
  font-size: 14px;
}

.form-control:focus, .custom-file-input:focus {
  background-color: rgba(180, 180, 180, 0.9);
  border-color: #398339;
  box-shadow: 0 0 0 0.2rem rgba(57, 131, 57, 0.7);
}

.form-control, .custom-file-input, .custom-file-label {
  background-color: rgba(255, 255, 255, 0.75);
}

.custom-file-input:focus~.custom-file-label {
  border-color: #398339;
  box-shadow: 0 0 0 0.2rem rgba(57, 131, 57, 0.7);
}

.form-text {
  margin-bottom: 80px;
}

/*---------------------------------------------- Live page ----------------*/
.live-details {
  margin-bottom: 80px;
}

.live-container {
  margin: 0px 10px 140px 10px;
}

/*---------------------------------------------- Media queries ----------------*/
/* sm (for tablets - screens from 768px to 992px wide) */
@media screen and (max-width: 992px) {

  /* Navbar */
  .navbar-nav {
    height: 100vh;
    margin-top: 50px;
  }

  .nav-item {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-weight: 500;
    font-size: 25px;
  }

  /* Home page */
  .about-container .about-text {
    font-size: 14px;
  }

  .show-filters .upcoming-link {
    font-size: 12px;
  }

  #carouselDiscography {
    max-width: 60%;
  }

  /* Music Page */
  .music-album-container {
    max-width: 100%;
  }

  /* Contact Page */
  .contact-page-container .col-12 {
    flex: 0 0 100%;
    max-width: 80%;
  }
}

/* xs (for phones - screens up to 768px wide) */
@media screen and (max-width: 768px) {

  /* Navbar */
  .navbar-nav {
    height: 100vh;
    margin-top: 50px;
  }

  .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    font-weight: 500;
    font-size: 25px;
  }

  /* Home page */
  .about-container .about-text {
    font-size: 14px;
  }

  #carouselDiscography {
    max-width: 80%;
  }

  /* Contact Page */
  .contact-page-container .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-form-header {
    font-size: 16px;
  }

  .contact-form-body {
    font-size: 12px;
  }

  /* Shows page */
  /*
    * Responsive display of the table row into multiple line
    * credit: https://stackoverflow.com/questions/25405105/break-a-table-row-into-multiple-line-responsive-layout/25406206
    */
  .item-show-table tr {
    display: table;
    width: 100%;
  }

  /*
    *Responsive display of the table row into multiple line
    * credit: https://stackoverflow.com/questions/25405105/break-a-table-row-into-multiple-line-responsive-layout/25406206
    */
  .item-show-table td {
    display: table-row;
  }

  .show-filters {
    font-size: 12px;
  }

  .shows-page-container {
    max-width: 100%;
  }

  /* Music Page */
  .music-album-container {
    max-width: 80%;
  }

  .album-card {
    margin-bottom: 40px;
  }

  .buy-container {
    margin-bottom: 50px;
  }

  .block-divider {
    width: 45px;
  }

  .divider-container {
    margin: 80px 0 80px 0;
  }
}
